@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 330 8% 95%;
    --foreground: 330 8% 5%;

    --card: 330 8% 95%;
    --card-foreground: 330 8% 5%;

    --popover: 330 8% 95%;
    --popover-foreground: 330 8% 5%;

    --primary: 327 84% 47%;
    --primary-foreground: 300 9% 98%;

    --secondary: 324 11% 91%;
    --secondary-foreground: 330 8% 5%;

    --muted: 330 9% 57%;
    --muted-foreground: 326 9% 45%;

    --accent: 324 11% 91%;
    --accent-foreground: 330 8% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 330 9% 87%;
    --input: 333 9% 81%;
    --ring: 327 36% 72%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 180 7% 8%;
    --foreground: 180 9% 98%;

    --card: 180 6% 10%;
    --card-foreground: 180 9% 98%;

    --popover: 180 6% 10%;
    --popover-foreground: 180 9% 98%;

    --primary: 179 59% 69%;
    --primary-foreground: 120 9% 2%;

    --secondary: 180 8% 19%;
    --secondary-foreground: 180 9% 98%;

    --muted: 180 7% 29%;
    --muted-foreground: 180 8% 49%;

    --accent: 179 71% 8%;
    --accent-foreground: 180 9% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 180 8% 12%;
    --input: 173 9% 18%;
    --ring: 179 59% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
